---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
DerivePointerAlignment: false
PointerAlignment: Right
SortIncludes: Never
...
